<div>
  <h2 id="page-heading" data-cy="AngResHeading">
    <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.home.title">Ang Res</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ang-res"
        [routerLink]="['/jhipstertest002/ang-res/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.home.createLabel"> Create a new Ang Res </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.home.search">Query</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'jhipsterTest002App.jhipsterTest002AngRes.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="angRes?.length === 0">
    <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.home.notFound">No angRes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="angRes && angRes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="uid">
            <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.uid">Uid</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="resCod">
            <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.resCod">Res Cod</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="resDsc">
            <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.resDsc">Res Dsc</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bdgUid">
            <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.bdgUid">Bdg Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="resTyp">
            <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.resTyp">Res Typ</span>
            <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bdgUid.id">
            <span jhiTranslate="jhipsterTest002App.jhipsterTest002AngRes.bdgUid">Bdg Uid</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let angRes of angRes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstertest002/ang-res', angRes.id, 'view']">{{ angRes.id }}</a>
          </td>
          <td>{{ angRes.uid }}</td>
          <td>{{ angRes.resCod }}</td>
          <td>{{ angRes.resDsc }}</td>
          <td>{{ angRes.bdgUid }}</td>
          <td jhiTranslate="{{ 'jhipsterTest002App.AngResTyp.' + angRes.resTyp }}">{{ angRes.resTyp }}</td>
          <td>
            <div *ngIf="angRes.bdgUid">
              <a [routerLink]="['/ang-bdg', angRes.bdgUid?.id, 'view']">{{ angRes.bdgUid?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstertest002/ang-res', angRes.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstertest002/ang-res', angRes.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(angRes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="angRes && angRes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
