<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="angGrp">
      <h2 data-cy="angGrpDetailsHeading"><span jhiTranslate="jhipsterTest002App.jhipsterTest002AngGrp.detail.title">Ang Grp</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ angGrp.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTest002App.jhipsterTest002AngGrp.uid">Uid</span></dt>
        <dd>
          <span>{{ angGrp.uid }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTest002App.jhipsterTest002AngGrp.grpCod">Grp Cod</span></dt>
        <dd>
          <span>{{ angGrp.grpCod }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterTest002App.jhipsterTest002AngGrp.grpDsc">Grp Dsc</span></dt>
        <dd>
          <span>{{ angGrp.grpDsc }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstertest002/ang-grp', angGrp.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
